 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"  content={$webConfig.WEB_KEYWORDS}" />
<meta name="description"  content="{$webConfig.WEB_DESCRIPTION}" />
<link rel="canonical"  href="http://www.jyxcfyzl.com" />

	<title>
		   DAZZLING COLORS&#039;(XCF)PERMANENT MAKEUP PRODUCT|PERMANENT COSMETICS TRAINING SCHOOL|TATTOO EYEBROW PIGMENT|LIP COLORS|PMU MACHINE|ANESTHETIC|MANUAL PEN|NEEDLE|PERMANENT MAKEUP PICTURES - LOVE WITH COLORS(YZL)MICROPIGMENTATION|LIP EYELINER-TATTOOING SERVICES|	</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
<link rel="stylesheet" href="__HOME__/css/style.css" type="text/css" />	
{block name="style"}{/block}
</head>

<body>
<div id="header">
		<div class="logo"><img src="__HOME__/images/logo.jpg"  width="1000" alt="GUANG ZHOU JIN YUAN COSMETICS CO.， LTD" /></div><!--logo end -->
		<!--<div class="tel"><img src="__HOME__/images/tel.jpg" width="334"  alt="86-20-29185929"/></div>--><!--end tel-->
</div><!--header end-->

<div id="nav">
		<ul>
			<div class="menu-header-menu-container"><ul id="menu-header-menu" class="menu"><li id="menu-item-4" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4"><a href="{:url('index/index/index')}">Home</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="{:url('index/pages/index',['id'=>'1'])}">About us</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14"><a href="{:url('index/article/lists')}">News</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="{:url('index/product/index')}">Products</a></li>
<li id="menu-item-13" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13"><a href="{:url('index/CaseServe/index',['id'=>'2'])}">Agents</a></li>
<li id="menu-item-15" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a href="{:url('index/CaseServe/index',['id'=>'3'])}">PMU training</a></li>
<li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a href="{:url('index/CaseServe/index',['id'=>'1'])}">Technical service</a></li>
<li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a href="{:url('index/pages/index',['id'=>'2'])}">Contact us</a></li>
</ul></div> 
		</ul>
</div><!--nav end-->
<div class="clear"></div>
<!-- main -->
{block name="main"}	
	

{/block}

<div id="footer">
		<ul>
				<div class="menu-header-menu-container"><ul id="menu-header-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-4"><a href="{:url('index/index/index')}">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="{:url('index/pages/index',['id'=>'1'])}">About us</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14"><a href="{:url('index/article/lists')}">News</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a href="{:url('index/product/index')}">Products</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13"><a href="{:url('index/CaseServe/index',['id'=>'2'])}">Agents</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15"><a href="{:url('index/pages/index',['id'=>'3'])}">PMU training</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a href="{:url('index/CaseServe/index',['id'=>'1'])}">Technical service</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a href="{:url('index/pages/index',['id'=>'2'])}">Contact us</a></li>
</ul></div> 
		</ul>
		<div class="clear"></div>
		<p>Copyright<!--footer end-->
</body>
</html>