{extend name="public:layout" /}
<!-- <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css" rel="stylesheet">
 -->
{block name="body"}
<body>
<article class="page-container">
	<form action="{:url('admin/Admin/changePassword')}" method="post" class="form form-horizontal" id="form-change-password" name="form">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-8 col-sm-9"> {$info.user_name} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9"> {$info.email} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="password" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="password2" id="newpassword2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" id="check" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
				<button onClick="window.history.go(-1)" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;<span id="chkmsg"></span>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->



<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<!--/请在上方写此页面业务相关的脚本-->
</body>
{/block}
{block name="script"}
<script type="text/javascript" src="__ADMIN__/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript">
$(function(){
		$("#check").click(function(){ 
			//alert();
        var pwd1 = $("#newpassword").val(); 
      	var pwd2 = $("#newpassword2").val();
        if(pwd1 != pwd2){ 
        	//alert();
            $("#chkmsg").html("密码不一致");
            $("#chkmsg").css("color","red"); 
        }else{ 
          document.form.submit();
        } 
    });
});
</script>
{/block}
</html>