{extend name="public:layout" /}
{block name="body"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 系统日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <form name="dateform" method="post" action="{:url('Admin/ActionLog/map_del')}">
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="form_del_data()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <span class="">日期范围：
    <input type="text" name="dateStart" onfocus="laydate()" id="logmin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text"  name="dateEnd" onfocus="laydate()" id="logmax" class="input-text Wdate" style="width:120px;"> <a href="javascript:;"  onclick="form_date_data()" class="btn  radius"><i class="Hui-iconfont">&#xe6e2;</i> 删除范围内</a>
    </span>
    </form>
     </div>
  <form name="form" method="post" action="{:url('Admin/ActionLog/del')}">
  <table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value="" class="all"></th>
        <th width="80">ID</th>
     
        <th width="30%">内容</th>
        <th width="17%">用户名</th>
        <th width="120">客户端IP</th>
        <th width="120">时间</th>
        <th width="70">操作</th>
      </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
      <tr class="text-c">
       
        <td><input name="id[]" type="checkbox" value="{$vo.id}"></td>
        <td>{$vo.id}</td>
      
        <td>{:get_action($vo['action_id'],'title')}</td>
        <td>{$vo.user_id}</td>
        <td>{$vo.action_ip}</td>
        <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
        <td><a title="删除" href="del?id={$vo.id}" onclick="" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
      </tr>
        {/volist}
    </tbody>
  </table>
  </form>
  <div id="" class="pages">
      {$list->render()}     
  </div>
</div>
<script type="text/javascript" src="__ADMIN__/lib/laydate/laydate.js"></script>
<script>
;!function(){

laydate.skin('molv');

laydate({
   elem: '#lay1'
})
laydate({
   elem: '#lay2'
})

}();
function form_date_data(){
  var params = {};
     params.dateStart = $("input[name='dateStart']").val();
    params.dateEnd = $("input[name='dateEnd']").val();        
     if(params.dateStart==''){   
       layer.alert('起始日期不能为空', {icon: 2});
       return;
     }
     if(params.dateEnd==''){
       layer.alert('结束日期不能为空', {icon: 2});
       return;
     }

  if(params.dateStart !=='' || params.dateEnd !=='') {
    layer.confirm('确认要批量删除吗',function(){
      //layer.msg('已删除!',{icon:1,time:1000});
         document.dateform.submit();
    });
  }
} 
</script>
<script>
$('.all').click(function() {
    if($(this).is(':checked')) {
      $(':checkbox').attr('checked', 'checked');
    } else {
      $(':checkbox').removeAttr('checked');
    }
});

function form_del_data(){ 
  if($(':checked').size() > 0) {
    layer.confirm('确认要批量删除吗',function(){
      //layer.msg('已删除!',{icon:1,time:1000});
        document.form.submit();
    });
  }else{
        layer.alert('您没有选择！');
  }
} 
</script>
</body>
{/block}
</html>