<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="http://demo.douco.com/m/data/logo-icon.png" >
<title>{block name="title"}{$webConfig.WEB_NAME}{/block}</title>
<meta name="keywords" content="{$webConfig.WEB_KEYWORDS}" />
<meta name="description" content="{$webConfig.WEB_DESCRIPTION}" />
<link href="__HOME__/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__HOME__/js/jquery.min.js"></script>
<script type="text/javascript" src="__HOME__/js/global.js"></script>
<script type="text/javascript" src="__HOME__/js/slide_show.js"></script>
{block name="style"}{/block}
</head>
<body>
<div id="wrapper">
 <div id="header">
 <a href="{:url('mobile/Index/index')}" class="home"></a>
  <em class="logo">{$webConfig.WEB_NAME}</em>
   <em></em>
  <a href="{:url('mobile/Index/catalog')}" class="siteMap"></a></div>
 <div id="index">
 
{block name="slide"} 

{/block} 
{block name="nav"}

{/block}

 {block name="main"}
  
 {/block}
 <div id="footer">
 <a href="javascript:;" onfocus="this.blur();" class="goTop">返回顶部</a>
 <ul>
  <li class="footNav"><a href="{:url('mobile/Index/index')}">手机版</a><a href="{:url('index/Index/index')}">电脑版</a></li>
  <li class="copyRight">© DouPHP轻量级企业网站管理系统 2016 All Rights Reserved.</li>
  <li class="powered"><a href='http://www.douco.com' target='_blank'>Powered by DouPHP</a> </li>
 </ul>
</div>
 <div style="display:none"></div> 
</div>
</body>
{block name="script"}
  
{/block}
</html>